body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
}

ul {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

li {
  box-sizing: border-box;
  width: 135px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 15px;

  font-weight: 600;
  border-radius: 15px;
  text-align: center;
  transition: background-color 0.5s ease;
}


li:hover {
  background-color: #403866;
}

li:nth-child(4n) {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: black;
}

li:hover a {
  color: white;
}

h1 {
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 5%;
}
