body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
    }

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;
    -webkit-box-shadow: 0 0 50px -10px #34495e;
            box-shadow: 0 0 50px -10px #34495e;
}

.main-navigation {
    position: relative;
    min-height: 56px;

    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation,
.advantages-list,
.advantages-inner-list {
    list-style: none;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-list li {
    margin-top: 0;
}

ul.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 72px;
}

.site-navigation li {
    width: 240px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.left-navigation {
    text-align: left;
}

.right-navigation {
    text-align: right;
}

 .site-navigation li:nth-child(3) {
    margin-left: 96px;
}

.site-navigation li:nth-child(3) a {
    padding-right: 5px;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 5;
}

.site-navigation a {
    color: #000000;
}

.site-navigation-current a{
    color: #766357;
    cursor: pointer;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #000000;
    opacity: .3;
}

.hero {
    position: relative;

    background-color: #a6c8de;
    background: url(../img/polygon.png),
    url(../img/hero-mountains.jpg);
    background-repeat: no-repeat;
    background-position:
        0 100%,
        0 -56px;
}

.hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 58px;

    background-image: url(../img/polygon.png);
}

.pic-welcome {
    display: block;

    margin-left: auto;
    margin-right: auto;
    padding-top: 76px;
    padding-bottom: 80px;
}

.main-promo-wrapper {
    width: 500px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 51px;

    text-align: center;
    background-color: #ffffff;
}

.promo-bold {
    display: inline-block;
    vertical-align: middle;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.promo {
    margin: 0;
    margin-top: 27px;

    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

.advantages-item-special h3 {
    margin: 0 auto;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

.advantages-item-special .text-wrapper {
    width: 400px;
    min-height: 256px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    text-align: center;
}

.city-background .text-wrapper {
    padding-top: 46px;
    padding-bottom: 57px;
    padding-left: 50px;
    padding-right: 50px;
}

.mountains-background .text-wrapper {
    padding-top: 46px;
    padding-bottom: 58px;
    padding-left: 46px;
    padding-right: 46px;
}

.advantages-item-special .advantages-number {
    margin-bottom: 22px;
}

.city-background {
    background-image: url(../img/city.jpg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.mountains-background {
    background-image: url(../img/mountains.jpg);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.mountains-background .text-wrapper {
    margin-left: 800px;
}

.advantages-item-white .advantages-title {
    margin: 0px;
    margin-bottom: 24px;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.advantages-item-icon::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    margin: 0;

    background-repeat: no-repeat;
}

.icon-home::before {
    width: 76px;
    height: 72px;
    margin-bottom: 30px;

    background-image: url(../img/icon-home.svg);
}

.icon-home {
    padding-top: 60px;
    padding-bottom: 81px;
    padding-left: 60px;
    padding-right: 60px;
}


.icon-food::before {
    width: 76px;
    height: 72px;
    margin-bottom: 26px;

    background-image: url(../img/icon-food.svg);
}

.icon-souvenir::before {
    width: 64px;
    height: 76px;
    margin-bottom: 28px;

    background-image: url(../img/icon-souvenir.svg);
}

.advantages-text,
.advantages-number {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

.advantages-item-special {
    width: 1200px;
    min-height: 256px;

    background-color: #81b3d2;
}

.advantages-item-special p {
    margin: 0;
}

.city-background h3 {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.mountains-background h3 {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.advantages-item-white {
    width: 400px;
    min-height: 330px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    text-align: center;

    background-color: #ffffff;
}

.advantages-item-white.icon-food {
    padding-top: 61px;
    padding-bottom: 81px;
    padding-left: 57px;
    padding-right: 57px;
}

.advantages-item-white.icon-souvenir {
    padding-top: 55px;
    padding-bottom: 81px;
    padding-left: 60px;
    padding-right: 60px;
}

.advantages-text-black {
    margin: 0;
}

.advantages-text-black,
.advantages-item-grey .advantages-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

.advantages-item-grey {
    width: 400px;

    text-align: center;

    background-color: #eeeeee;
}

.advantages-item-grey:last-child .text-wrapper {
    padding-left: 71px;
    padding-right: 71px;
}

.advantages-item-grey .advantages-title {
    width: 123px;

    margin: 0 auto;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.advantages-item-grey .text-wrapper {
    padding-top: 47px;
    padding-bottom: 59px;
    padding-left: 66px;
    padding-right: 66px;
}

.advantages-item-grey .advantages-number {
    margin: 0;
    margin-top: 24px;

    color: #333333;
}

.advantages-item-grey .advantages-text {
    margin: 0;
    margin-top: 21px;
}

.advantages-inner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;
}

.hotels {
    position: relative;

    background-color: #ffffff;
}

.filters + .hotels {
    padding-top: 30px;
}

.hotels .text-wrapper {
    width: 438px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 47px;

    text-align: center;
}

.hotels b {
    display: block;
    margin-bottom: 24px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.hotels-info {
    margin: 0;

    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    color: #333333;
}

.hotels a {
    text-decoration: none;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;
    cursor: pointer;
}

.button-hotels-search {
    display: block;
    width: 568px;
    min-height: 26px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #766357;
}

.modal-hotels-search {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    z-index: 5;

    width: 568px;
    min-height: 395px;
    margin-left: auto;
    margin-right: auto;

    font-size: 21px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    color: #000000;
    background-color: #fff;
}

.modal-toggle {

}

.hotels-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    min-height: 395px;
}

.hotels-search .adults-number-input,
.hotels-search .children-number-input,
.hotel-search-button-plus,
.hotel-search-button-minus {
    width: 38px;
    min-height: 38px;

    background-color: #f2f2f2;
}

.adults-number-input,
.children-number-input {
    padding: 0;

    font: inherit;
    vertical-align: middle;
    text-align: center;
}

.hotel-search-button-minus {
    margin-right: -4px;
}

.hotel-search-button-plus {
    margin-left: -4px;
}

.hotel-search-button-plus,
.hotel-search-button-minus {
    padding: 0;
}

.hotel-search-button-plus::after,
.hotel-search-button-plus::before,
.hotel-search-button-minus::after {
    content: "";

    position: absolute;

    width: 11px;
    height: 3px;

    background-color: #a9a9a9;
}

.hotel-search-button-plus::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

 .adults-number + .hotel-search-button-minus::after {
     left: 180px;
     top: 208px;
 }

.adults-number-input  + .hotel-search-button-plus::before,
 .adults-number-input  + .hotel-search-button-plus::after {
    left: 256px;
    top: 208px;
}

.children-number + .hotel-search-button-minus::after {
    right: 144px;
    top: 208px;
}

.children-number-input + .hotel-search-button-plus::after,
.children-number-input + .hotel-search-button-plus::before {
    top: 208px;
    right: 68px;
}

.hotels-search-item {
    width: 460px;
    min-height: 38px;
    margin: 0;
    padding-left: 55px;
    padding-right: 55px;
}

.arrival-date {
    margin-bottom: 29px;
    padding-top: 55px;
}

.arrival-date label {
    margin-right: 19px;
}

.departure-date label {
    margin-right: 16px;
}

.departure-date {
    margin-bottom: 30px;
}

a.button-hotels-search:hover,
a.button-hotels-search:focus {
    background-color: #604e43;
}

a.button-hotels-search:active {
    color: rgba(255,255,255,0.3);
    background-color: #503e33;
}



.hotels-search input {
    min-height: 38px;

    background-color: #f2f2f2;
    border: none;
}

.hotels-search .form-date-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 346px;
    min-height: 38px;
    padding: 6px 11px;
    padding-right: 40px;

    font: inherit;
    text-transform: uppercase;

}

.calendar-button {
    position: absolute;
    right: 58px;

    background-color: transparent;
    border: none;
}

.arrival-date .calendar-button {
    top: 62px;
}

.departure-date .calendar-button {
    top: 129px;
}

.hotels-search-item label {
    font-size: 21px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    color: #000000;
}

.persons-number .adults-number {
    margin-right: 37px;
    vertical-align: middle;
}

.persons-number .children-number {
    margin-left: 49px;
    margin-right: 24px;

    vertical-align: middle;
}

.persons-number {
    margin-bottom: 54px;
}

.hotel-search-button {
    width: 458px;
    min-height: 58px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #81b3d2;
}

button.hotel-search-button:hover,
button.hotel-search-button:focus {
    background-color: #669ec0;
}

button.hotel-search-button:active {
    color: rgba(255,255,255,0.3);
    background-color: #5496bd;
}

.map {
    width: 1200px;
    min-height: 593px;
}

.main-footer {
    position: relative;

    width: 1200px;
    min-height: 120px;
    margin-top: -126px;

    background-color: rgba(255,255,255,0.9);
}

.footer-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 120px;
}

.hashtag {
    margin: 0;
    padding-top: 46px;
    padding-bottom: 48px;
    padding-left: 130px;
    padding-right: 130px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.copyright-container,
.footer-social,
.hashtag-wrapper {
    width: 400px;
    margin: 0;
}

ul.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 400px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 46px;
    height: 48px;
    margin: 0 3px;

    color: #000000;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path{
    opacity: 0.3;
}

.copyright-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 39px;
    padding-bottom: 40px;
    padding-left: 102px;
}

.copyright-wrapper p {
    width: 74px;
    margin: 0;
    margin-right: 8px;
    padding-top: 10px;
}

.copyright-wrapper a {
    width: 115px;
    height: 41px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}

.htmlacademy-link:hover path,
.htmlacademy-link:focus path {
    fill: #c0d9e8;
}

.htmlacademy-link:active path {
    fill: #bdbbbc
}

.filters {
    min-height: 217px;

    background-color: #4e7da5;
    background-image: url(../img/filters-background.jpg);
    background-repeat: no-repeat;
    background-position: 35% 50%;
}

.filters fieldset {
    margin: 0;
    padding: 0;
}

.filters-hotels-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 27px;
}

.filter-infrastructure-wrapper {
    width: 240px;
    margin-left: 72px;
}

.filter-house-type-wrapper {
    width: 275px;
    margin-left: 15px;
}

.filters fieldset {
    border: none;
}

.filters-option label {
    position: relative;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filters-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -39px;

    width: 19px;
    height: 19px;

    border: 2px solid #ffffff;
    border-radius: 3px;
}

.filters-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -39px;

    width: 26px;
    height: 23px;

    background-image: url(../img/checkbox-on.svg);

    border: none;
}

.filters-input-checkbox:disabled + label::before {
    border-color: #6a6a6a;
    color: #ff0000;
}

.filters-input-checkbox:checked:disabled + label::before {
    background-image: url(../img/checkbox-on-disabled.svg);
}

.filters-input-checkbox:focus + label,
.filters-input-checkbox:focus + label::before {
    outline: 2px solid #4D90FE;
}

.filters ul {
    list-style: none;
}

.filters-list {
    margin: 0;
    padding: 0;
    padding-left: 39px;
}

.filters-option {
    margin-bottom: 24px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

.filter-range {
    width: 320px;
}

.filters legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

.filters-legend {
    margin-bottom: 25px;
}

.hotel-price-wrapper {
    width: 320px;
    margin-left: 210px;
}

.filters-range-title {
    margin-bottom: 9px;

    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 32px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    vertical-align: middle;

    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;

     cursor: pointer;
}

.price-controls .min-price {
    width: 85px;
    padding-left: 65px;
}

.price-controls .max-price {
    width: 85px;
    padding-left: 60px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 33px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 78%;
}

.range-toggle:hover {
    border-width: 9px;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 30px;
    margin-left: 72px;
    margin-right: 72px;

    background-color: #fefefe;
}

.btn-transparent {
    display: block;

    margin: 0;
    margin-left: 84px;
    margin-right: auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.sort-order-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.sorting ul {
    list-style: none;
}

a.hotel-link {
    color: #000000;
}

a.hotel-link:hover,
a.hotel-link:focus {
    color: #81b3d2;
}

a.hotel-link:active {
    color: #000000;
    opacity: 0.3;
}

.sorting-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: flex-end;

}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 735px;
    margin: 0;
    margin-left: 40px;
    padding: 0;
}

 .sorting-list li:nth-child(n+2) {
    margin-left: 34px;
}

.sorting .sorting-text {
    margin: 0;
    margin-left: 47px;
    padding-bottom: 3px;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
}

a.sorting-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;

    opacity: 0.3;
    cursor: pointer;

    border-bottom: 1px dashed #81b3d2
}

a.sorting-link:hover,
a.sroting-link:focus {
    color: #81b3d2;
    opacity: 1;
}

.active.sorting-link {
    color: #81b3d2;
    opacity: 1;

    border: none;
}

a.sorting-link:active {
    color: #000000;
    opacity: 1;

    border: none;
}

.sort-order-link-ascending::before,
.sort-order-link-descending::before {
    content: "";

    display: inline-block;
    vertical-align: middle;

    border: 10px solid #cacaca;
    border-left-width: 5px;
    border-right-width: 5px;
    border-left-color: transparent;
    border-right-color: transparent;
}

.sort-order-link-ascending::before {
    margin-right: 10px;
    border-top-width: 0;
}

.sort-order-link-descending::before {
    border-bottom-width: 0;
}

.sort-order-link-ascending:hover::before,
.sort-order-link-descending:hover::before,
.sort-order-link-ascending:focus::before,
.sort-order-link-descending:focus::before {
    border-color: #231f20;
    border-left-color: transparent;
    border-right-color: transparent;
    cursor: pointer;
}

.sort-order-link-ascending:active::before,
.sort-order-link-descending:active::before {
    border-color: #81b3d2;
    border-left-color: transparent;
    border-right-color: transparent;
    cursor: pointer;
}

.sort-order-link-descending.active::before {
    border-color: #81b3d2;
    border-left-color: transparent;
    border-right-color: transparent;
}

ul.hotels-list {
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #fefefe;
}

.sorting-wrapper .number-of-hotels {
    margin: 0;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.hotels-item-main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    min-height: 150px;
    margin: 0;
    margin-left: 72px;
    padding: 30px 0;
}

.rating-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 240px;
}

.rating {
    margin-bottom: 40px;
    text-align: right;
}

p.rating-number {
    width: 110px;
    margin: 0;
    margin-left: auto;
    padding: 2px 0px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #666666;

    background-color: #f2f2f2;
}

.rating-stars img {
    margin-left: 2px;
}

.hotels-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 425px;
}

.hotels-item-text-btns-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-left: 30px;
}

.hotels-item-wrapper h3,
.hotels-item-wrapper p {
    margin:0;
}

.hotels-item-text-btns-wrapper h3 {
    margin-bottom: 8px;
    margin-top: -5px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.hotels-item-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-bottom: 12px;
}

.hotels-item-text-wrapper .hotel-price {
    margin-right: 78px;
}

.hotels-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    min-height: 90px;
    padding: 30px 72px;

    outline: 1px solid #e5e5e5;
}

.hotels-list li:not:first-child {
    margin-top: -1px;
}

.button-info,
.button-booking {
    display: inline-block;
    vertical-align: middle;

    margin-top: 3px;
    padding: 3px 17px;

    font-size: 0;
    text-align: center;
    vertical-align: middle;
}

.button-info {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;

    background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
    background-color: #669ec0;
}

.button-info:active {
    color: rgba(255,255,255,0.3);
    background-color: #5496bd;
}

.button-booking {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    background-color: #766357;
}

.button-booking:hover,
.button-booking:focus {
    background-color: #604e43;
}

.button-booking:active {
    color: rgba(255,255,255,0.3);
    background-color: #503e33;
}

.map iframe {
    border: 0;
}

.hotels-rating {
    height: 17px;

    margin: 0;
    margin-bottom: 48px;
    margin-left: auto;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background-color: #fff;
    background-image: url(../img/stars.png);
    background-repeat: repeat-x;
    background-size: cover;
}

.hotels-rating-four-stars {
    width: 92px;
}

.hotels-rating-two-stars {
    width: 42px;
}

.hotels-rating-three-stars {
    width: 67px;
}

.form-date-input:hover {
    background-color: #ebebeb;
}

.form-date-input:focus {
    background-color: #ffffff;
    outline-color: #e5e5e5;
}

.calendar-button:hover path {
    fill: #000000;
}

.calendar-button:active path {
    fill: #81b3d2;
}

.hotel-search-button-plus:hover::after,
.hotel-search-button-plus:hover::before,
.hotel-search-button-minus:hover::after {
    background-color: #000000;
}

.hotel-search-button-plus:focus::after,
.hotel-search-button-plus:focus::before,
.hotel-search-button-minus:focus::after {
    background-color: #81b3d2;
}

@-webkit-keyframes shake {
    0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-48%);
            transform: translateX(-48%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
  }
}

@keyframes shake {
    0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-48%);
            transform: translateX(-48%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
  }
}

.modal-close {
    display: none;
}

.modal-open {
    -webkit-animation-name: modal-open;
            animation-name: modal-open;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes modal-open {
    0% {
        -webkit-transform: translateX(-1000%);
                transform: translateX(-1000%);
    }
    90%  {
        -webkit-transform: translateX(-45%);
                transform: translateX(-45%);
    }
    100% {
        -webkit-transform: translateX(-55%);
                transform: translateX(-55%);
    }
}

@keyframes modal-open {
    0% {
        -webkit-transform: translateX(-1000%);
                transform: translateX(-1000%);
    }
    90%  {
        -webkit-transform: translateX(-45%);
                transform: translateX(-45%);
    }
    100% {
        -webkit-transform: translateX(-55%);
                transform: translateX(-55%);
    }
}

.modal-error {
    -webkit-animation-name: shake;
            animation-name: shake;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}
