body {
  background-color: black;
}

#board {
  position: relative;

  width: 1024px;
  height: 863px;
  margin: auto;

  background-image: url("../img/board.jpg");
}

#messageArea {
  position: absolute;
  top: 0;
  left: 0;

  color: rgb(83, 175, 19);
  font-size: 2em;
}

table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0;
}

td {
  width: 94px;
  height: 94px;
}

form {
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 10px;
}

form input {
  font-size: 1em;
}

.hit {
  background: url("../img/ship.png") no-repeat center;
}

.miss {
  background: url("../img/miss.png") no-repeat center;
}
